<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
         <servlet>
         	<servlet-name>xmlservlet</servlet-name>
         	<servlet-class>com.tm.servlet.XmlServlet</servlet-class>
         </servlet>
         <servlet>
         	<servlet-name>InitJSP</servlet-name>
         	<jsp-file>/implicitObjects.jsp</jsp-file>
         	<init-param>
         		<param-name>defaultUser</param-name>
         		<param-value>Default User Name</param-value>
         	</init-param>
         </servlet>
         <servlet-mapping>
         	<servlet-name>xmlservlet</servlet-name>
         	<url-pattern>/xmlServletPath</url-pattern>
         </servlet-mapping>
         <servlet-mapping>
         	<servlet-name>InitJSP</servlet-name>
         	<url-pattern>/implicitObjects.jsp</url-pattern>
         </servlet-mapping>
</web-app>